<div class="col-md-6 col-md-offset-3">
    <h2>Change your id</h2>
    <form name="form" ng-submit="vm.changeEmail()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.currPwd.$dirty && form.currPwd.$error.required }">
            <label for="currPwd">Current Password</label>
            <input type="password" name="currPwd" id="currPwd" class="form-control" ng-model="vm.currPwd" required />
            <span ng-show="form.currPwd.$dirty && form.currPwd.$error.required" class="help-block">Please enter your current password</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="Text1" class="form-control" ng-model="vm.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Please enter your new email.</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confirmEmail.$dirty && form.confirmEmail.$error.required }">
            <label for="username">Confirm Email</label>
            <input type="text" name="confirmEmail" id="Text1" class="form-control" ng-model="vm.confirmEmail" required />
            <span ng-show="form.confirmEmail.$dirty && form.confirmEmail.$error.required" class="help-block">Please confirm your new email.</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Update Email</button>
            <a href="#/" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>